$back-clr: black
$text-clr: #fbc531
$cr-clr: #c23616
$blue-clr: #00a8ff

html, .container
  background-color: $back-clr !important
  border-color: $back-clr
  color: $text-clr

.blue 
  color: $blue-clr !important

.cr-Yes
  color: $cr-clr !important

.cr-No
    color: $text-clr
.btn-danger .btn
  color: $text-clr

.rats-assigned-true 
  color: $blue-clr !important;
  

.central
  width: 50%
  margin-left: 25%

.form-control, .form-control:focus
  background-color: $back-clr
  border-color: $text-clr
  color: $text-clr